include LICENSE
include README.rst
include Dockerfile
include requirements.txt

# needs to be installed in site-packages
recursive-include radiopadre/notebooks *.ipynb
recursive-include radiopadre/ *.js *.css *.ico
recursive-include radiopadre_kernel/js9 *.html

# needs to be in tarball, copied over by setup script
recursive-include js9-config *.js *.json
recursive-include icons *.png *.ico
