APLpy
decorator
astropy
bokeh
ipython
ipykernel
matplotlib
pillow
pyparsing
python-casacore
radiopadre-client
nodeenv
click
OmegaConf

ipynbname
jupyter-nbextensions-configurator
jupyter_contrib_nbextensions
nbclient
nbconvert
nbformat
widgetsnbextension
notebook<7
jupyterlab<4
jupyter-server<2
jupyter
jupyter-console
jupyter-highlight-selected-word
jupyter_client
jupyter_contrib_core
jupyter_core
jupyterlab_pygments
jupyterlab_widgets

#casatools==6.5.6.22
#casatasks==6.5.6.22
#casaplotms==2.1.2
#casaviewer==1.8.2
#casampi==0.5.3
#casashell==6.5.6.22
#casadata==2023.6.26
#casaplotserver==1.6.1
#almatasks==1.7.1
#casatestutils==6.5.6.22
#casatablebrowser==0.0.32
#casalogger==1.0.16
#casafeather==0.0.18
#protobuf<=3.21
