APLpy
decorator 
astropy
bokeh
ipython
ipykernel 
matplotlib
pillow
pyparsing 
python-casacore
radiopadre-client
nodeenv
click
OmegaConf

ipynbname==2023.2.0.0
jupyter-nbextensions-configurator==0.6.3
jupyter_contrib_nbextensions==0.7.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
widgetsnbextension==4.0.10
notebook==6.4.13
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.6.1
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.10
